$vSpace: 12px;
$hSpace: 12px;
$dark-backcolor: lighten(lightgrey, 4%);
$light-backcolor: lighten(lightgrey, 16%);
$mediaHeight: 500px;

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

